
.main {
    background-color: rgb(26, 185, 185);
}

.border-div {
    border-style: solid !important;
}


.main.border-div {
    background-color: blue;
    border-style:dashed;
}


.main p {
    font-size: 35px;
}

