
p {
    font-size: 24px;
    background-color: rgb(66, 190, 29);
}

.container {
    margin: 20px;
    margin-top: 50px;
    display: inline-block;
    text-align: center;
    background-color: blanchedalmond;
}

.main {
    text-align: center;
}

.container>img {
    width: 300px;
}